{% extends 'base.html.twig' %}

{% block title %}Услуга #{{ service.id }}{% endblock %}

{% block body %}
    <h1>Услуга #{{ service.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Дата Услуги</th>
                <td>{{ service.serviceDate ? service.serviceDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Причины</th>
                <td>{{ service.note }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('service') }}">Назад</a>

    <a href="{{ path('service_edit', {'id': service.id}) }}">Редактировать</a>

    {{ include('service/_delete_form.html.twig') }}
{% endblock %}
