{% extends 'base.html.twig' %}

{% block title %}Рассписание{% endblock %}

{% block body %}

    <h1 class="mt-5 mb-4">Рассписание</h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Имя</th>
            {% for i in 0 .. daysCount %}
                <th>{{ i }}</th>
            {% endfor %}
            <th>План</th>
        </tr>
        </thead>
        <tbody>
        {% set visitDaysCounterTotal = 0 %}
        {% for client in clients %}
            <tr>
                <td>{{ client.firstName }} {{ client.middleName }} {{ client.lastName }}</td>
                {% set visitDaysCounter = 0 %}
                {% for i in 0 .. daysCount %}
                    <td>
                        {% if i in client.user.weekends %}
                            B
                        {% elseif i in client.visitDays %}
                            {% set visitDaysCounter = visitDaysCounter + 1 %}
                            X
                        {% endif %}
                    </td>
                {% endfor %}
                {% set visitDaysCounterTotal = visitDaysCounterTotal + visitDaysCounter %}
                <td>{{ visitDaysCounter }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="{{ daysCount + 3 }}">Граждане не найдены!</td>
            </tr>
        {% endfor %}

        {% if clients|length > 0 %}
            <tr>
                {% for i in 0 .. daysCount + 1 %}
                    <th></th>
                {% endfor %}
                <th>{{ visitDaysCounterTotal }}</th>
            </tr>
        {% endif %}
        </tbody>
    </table>

{% endblock %}