{% extends 'base.html.twig' %}

{% block title %}Редактирование гражданина #{{ client.id }}{% endblock %}

{% block body %}
    <h1 class="mb-4">Редактирование гражданина #{{ client.id }}</h1>

    <a href="{{ refererUrl|default(is_granted('ROLE_ADMIN') ? path('client_admin') : path('client')) }}"
       class="btn btn-primary mb-3">Назад</a>

    {{ include('client/_form.html.twig', {'button_label': 'Сохранить'}) }}

    <a href="{{ refererUrl|default(is_granted('ROLE_ADMIN') ? path('client_admin') : path('client')) }}"
       class="btn btn-primary mb-3">Назад</a>

{% endblock %}
