{% extends 'base.html.twig' %}

{% block title %}Клиент #{{ client.id }}{% endblock %}

{% block body %}
    <h1>Клиент #{{ client.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>{{ client.firstName }}</td>
            </tr>
            <tr>
                <th>Отчество</th>
                <td>{{ client.middleName }}</td>
            </tr>
            <tr>
                <th>Фамилия</th>
                <td>{{ client.lastName }}</td>
            </tr>
            <tr>
                <th>Возраст</th>
                <td>{{ client.age }}</td>
            </tr>
            <tr>
                <th>Телефон</th>
                <td>{{ client.phone }}</td>
            </tr>
            <tr>
                <th>Имя опекуна</th>
                <td>{{ client.guardianName }}</td>
            </tr>
            <tr>
                <th>Телефон опекуна</th>
                <td>{{ client.guardianPhone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('client') }}">Назад</a>

    <a href="{{ path('client_edit', {'id': client.id}) }}">Редактировать</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
