<nav class="navbar navbar-expand-lg navbar-light border">
    <div class="collapse navbar-collapse px-5" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="{{ path('main') }}">
            <img src="{{ asset('images/logo.png') }}"/>
        </a>
        {% if app.user %}
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user') }}">Работники</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('service_catalog_group') }}">Каталог групп услуг</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('service_catalog') }}">Каталог услуг</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('client_admin') }}">Граждане</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('client') }}">Граждане</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('service') }}">Услуги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('schedule') }}">Рассписание</a>
                    </li>
                {% endif %}
            </ul>
            <div class="text-center m-auto">
                <span class="text-uppercase fw-bold">
                    Государственное учреждение «ивановский териториальный центр социального обслуживания населения»
                </span>
            </div>
            <a href="{{ path('logout') }}" class="nav-link ms-auto">Выйти</a>
        {% else %}
            <div class="text-center m-auto">
                <span class="text-uppercase fw-bold">
                    Государственное учреждение «ивановский териториальный центр социального обслуживания населения»
                </span>
            </div>
            <a href="{{ path('login') }}" class="nav-link">Войти</a>
        {% endif %}
    </div>
</nav>