<div class="container">
    <div class="row">
        <div class="col-lg-6 my-4">
            {{ form_start(form) }}
                {{ form_widget(form) }}
            <div>
                <label for="weekends">
                    Выходные <span class="small text-muted">(Пример: 1,2,7,8,15,16)</span>
                </label>
                <input type="text" id="weekends" name="weekends" class="form-control my-2"
                       placeholder="Выходные" value="{{ user.weekends|join(',') }}">
            </div>
                <button class="btn btn-success">{{ button_label|default('Сохранить') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>