{% extends 'base.html.twig' %}

{% block title %}Работник #{{ user.id }}{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-4">Работник #{{ user.id }}</h1>

    <a href="{{ refererUrl|default(path('user')) }}" class="btn btn-primary mb-3">Назад</a>

    <table class="table table-bordered table-light">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Почта</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Выходные</th>
                <td>{{ user.weekends|join(',') }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Гражданины</h2>
    <table class="table table-bordered table-light">
        <thead>
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Отчечтво</th>
            <th>Фамилия</th>
            <th>Возраст</th>
            <th>Телефон</th>
            <th>Имя опекуна</th>
            <th>Телефон опекуна</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td><a href="{{ path('client_edit', {id: client.id}) }}">{{ client.id }}</a></td>
                <td>{{ client.firstName }}</td>
                <td>{{ client.middleName }}</td>
                <td>{{ client.lastName }}</td>
                <td>{{ client.age }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.guardianName }}</td>
                <td>{{ client.guardianPhone }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Клиенты не найдены!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Услуги</h2>

    <div class="my-2">
        Дата услуги от
        <form action="{{ path('user_show', {'id': user.id}) }}" class="w-25">
            <input type="date" id="serviceDate" name="serviceDate" class="form-control my-2"
                   value="{{ serviceDate }}" placeholder="Дата услуги от">
            <button type="submit" class="btn btn-primary">Фильтр</button>
        </form>
    </div>

    <div class="mb-2">
        <a href="{{ path('service_download_csv', {userId: user.id, serviceDate: serviceDate}) }}">Скачать</a>
    </div>

    <table class="table table-bordered table-light">
        <thead>
        <tr>
            <th>Id</th>
            <th>Гражданин</th>
            <th>Услуга</th>
            <th>Дата услуги</th>
            <th>Причины</th>
        </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td><a href="{{ path('service_catalog_edit', {id: service.id}) }}">{{ service.id }}</a></td>
                <td>{{ service.client.getFullName() }}
                    #{{ service.client.id }} </td>
                <td>{{ service.serviceCatalog.name }}</td>
                <td>{{ service.serviceDate ? service.serviceDate|date('Y-m-d') : '' }}</td>
                <td>{{ service.note }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Услуги не найдены!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ refererUrl|default(path('user')) }}" class="btn btn-primary mb-3">Назад</a>
{% endblock %}
